# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf
week 4.2/01_flex.html

week 4.2/02_flexParent.html

*.mp4

*.webm

homeworks/
week11/02_geoCheck.html


week11/01_parseJSON.html
