!!! 5
%head
    %title I love HAML
    %script(src='script.js' type='text/javascript')
%body
    .container
        / this is a commented line
        %p#slow I am a regular piece of text
        /
            %div
            %p this whole block of code is commented
        %p I'm no longer commented
        -# I'm a HAML only comment
        %p that's nice